n8n_workflows/workflow-5-handoff-sales.json
{
  "name": "Workflow 5: Handoff to Sales Guy",
  "nodes": [
    {
      "parameters": {
        "path": "handoff",
        "httpMethod": "POST"
      },
      "name": "Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "table": "leads",
        "columns": "*, qualifications(*)"
      },
      "name": "Get Lead Data",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "url": "https://graph.instagram.com/v18.0/2001798287045224/messages",
        "authentication": "genericCredentialType",
        "method": "POST",
        "sendBody": true,
        "bodyParametersJson": "{\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"+37124811178\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"New qualified lead!\\n\\nName: {{$node['Get Lead Data'].json.data[0].first_name}} {{$node['Get Lead Data'].json.data[0].last_name}}\\nPhone: {{$node['Get Lead Data'].json.data[0].phone}}\\nWhen needed: {{$node['Get Lead Data'].json.data[0].qualifications[0].when_needed}}\\nCar type: {{$node['Get Lead Data'].json.data[0].qualifications[0].car_type}}\\nTimeframe: {{$node['Get Lead Data'].json.data[0].qualifications[0].timeframe}}\\nDuration: {{$node['Get Lead Data'].json.data[0].qualifications[0].duration}}\\nNotes: {{$node['Get Lead Data'].json.data[0].qualifications[0].special_notes}}\"\n  }\n}",
        "headerParametersJson": "{\n  \"Authorization\": \"Bearer EAASy1pOiAgsBRDUXPEDZAaReB7sLCQKjVQDTYmAlh35divSDMLdMw1qL25fo1187i8fWZAROZCBPDggrLjoZAhbmA3ZCX3TlRNIJp8UHQS1JZADMWWYdDuwWpcYTfODsQ4mwYcqWo5dL6NsXdmc7XtaBdDMzLyJTQChn4BZAvHw50JUZAlm8RsffhrokrcTvOQ2baAZA6YgsuZAQ8XuRabUnjjVCBZB4sL7pYMx8UCfBBfv9uJJWUDJeoT3GKeFB3XF6rmpspERsxGRQ1vbFS31RZC5Y88b9s4WKlJeDI1wurQZDZD\"\n}"
      },
      "name": "Send to Sales Guy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "leads",
        "columns": "{\n  \"status\": \"handed_off\"\n}"
      },
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Get Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Data": {
      "main": [
        [
          {
            "node": "Send to Sales Guy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Sales Guy": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
